In [1]:
import pandas as pd
import numpy as np
from datetime import timedelta

In [2]:
data = pd.read_csv("Data.csv", delimiter=';')

In [3]:
data

,Unnamed: 0,Unnamed: 1,Jan-21,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,NaN,Team,1,2.0,3.0,4.0,5,6,7,8,...,22.0,23.0,24.0,25.0,26,27,28,29,30,31
1,NaN,Patricia,H,NaN,NaN,8.0,8,8,8,8,...,8.0,NaN,NaN,8.0,8,8,8,8,NaN,NaN
2,NaN,John,H,NaN,NaN,8.0,8,8,8,8,...,8.0,NaN,NaN,8.0,8,8,8,8,NaN,NaN
3,NaN,Charles,H,NaN,NaN,8.0,8,H,H,H,...,8.0,NaN,NaN,8.0,8,8,8,8,NaN,NaN
4,NaN,NaN,Feb-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Team,1,2.0,3.0,4.0,5,6,7,8,...,22.0,23.0,24.0,25.0,26,27,28,NaN,NaN,NaN
6,NaN,Patricia,8,8.0,8.0,8.0,8,NaN,NaN,8,...,8.0,8.0,8.0,8.0,8,NaN,NaN,NaN,NaN,NaN
7,NaN,John,8,8.0,8.0,8.0,8,NaN,NaN,8,...,8.0,8.0,8.0,8.0,8,NaN,NaN,NaN,NaN,NaN
8,NaN,Charles,8,8.0,8.0,8.0,8,NaN,NaN,8,...,8.0,8.0,8.0,8.0,8,NaN,NaN,NaN,NaN,NaN
9,NaN,Steven,8,8.0,8.0,8.0,8,NaN,NaN,8,...,8.0,8.0,8.0,8.0,8,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,Mar-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,Team,1,2.0,3.0,4.0,5,6,7,8,...,22.0,23.0,24.0,25.0,26,27,28,29,30,31
12,NaN,Patricia,8,8.0,8.0,8.0,8,NaN,NaN,8,...,8.0,8.0,8.0,8.0,8,NaN,NaN,8,8,8
13,NaN,John,8,8.0,8.0,8.0,8,NaN,NaN,8,...,8.0,8.0,8.0,8.0,8,NaN,NaN,8,8,8
14,NaN,Charles,8,8.0,8.0,8.0,8,NaN,NaN,H,...,8.0,8.0,8.0,8.0,8,NaN,NaN,8,8,8
15,NaN,Peter,8,8.0,8.0,8.0,8,NaN,NaN,8,...,8.0,8.0,8.0,8.0,8,NaN,NaN,8,8,8
16,NaN,Steven,8,8.0,8.0,8.0,8,NaN,NaN,8,...,8.0,8.0,8.0,8.0,8,NaN,NaN,8,8,8
17,NaN,NaN,Apr-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,Team,1,2.0,3.0,4.0,5,6,7,8,...,22.0,23.0,24.0,25.0,26,27,28,29,30,NaN
19,NaN,Margaret,8,8.0,NaN,NaN,8,8,8,8,...,8.0,8.0,NaN,NaN,8,8,8,8,8,NaN
20,NaN,John,8,8.0,NaN,NaN,8,8,8,8,...,8.0,8.0,NaN,NaN,8,8,8,8,8,NaN
21,NaN,Charles,8,8.0,NaN,NaN,8,8,8,8,...,8.0,8.0,NaN,NaN,8,8,8,8,8,NaN
22,NaN,Peter,8,8.0,NaN,NaN,8,8,8,8,...,8.0,8.0,NaN,NaN,8,8,8,8,8,NaN
23,NaN,Steven,8,8.0,NaN,NaN,H,8,8,8,...,8.0,8.0,NaN,NaN,H,H,H,H,H,NaN
24,NaN,NaN,May-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,Team,1,2.0,3.0,4.0,5,6,7,8,...,22.0,23.0,24.0,25.0,26,27,28,29,30,31
26,NaN,Margaret,8,8.0,NaN,NaN,8,8,8,8,...,8.0,8.0,NaN,NaN,8,8,8,8,8,8
27,NaN,John,8,8.0,NaN,NaN,8,8,8,8,...,8.0,8.0,NaN,NaN,8,8,8,8,8,8
28,NaN,Charles,8,8.0,NaN,NaN,8,8,8,8,...,8.0,8.0,NaN,NaN,8,8,8,8,8,8
29,NaN,Peter,8,8.0,NaN,NaN,8,8,8,8,...,8.0,8.0,NaN,NaN,8,8,8,8,8,8
30,NaN,Steven,8,8.0,NaN,NaN,H,8,8,8,...,8.0,8.0,NaN,NaN,H,H,H,H,H,H
31,NaN,Chandeep,8,8.0,NaN,NaN,H,8,8,8,...,8.0,8.0,NaN,NaN,H,H,H,H,H,H

In [4]:
# membuang kolom yang tidak diperlukan
data.drop("Unnamed: 0", axis=1,inplace=True)

In [5]:
# membuat index dari kolom keterangan nama, kolom ini akan dipakai sebagai acuan untuk meremove rows yang tidak diperlukan dan membuat data frame untuk nama bulan.
data.set_index('Unnamed: 1',drop=False, inplace=True)

In [6]:
# membuat data frame untuk menyimpan nama bulan
datamonth = data.loc[data['Unnamed: 1'].isna().to_numpy()]

In [7]:
#reset index dimulai dari angka 0 , index ini sebagai patokan untuk mencocokan tanggal dan bulan.
datamonth = datamonth["Jan-21"].reset_index(drop=True)

In [8]:
datamonth

0    Feb-21
1    Mar-21
2    Apr-21
3    May-21
Name: Jan-21, dtype: object

In [9]:
#mengubah data type tanggal dari string menjadi date. tujuannya karena kedepannya kita akan melakukan kalkulasi menggunakan tanggal ini.
datamonth = pd.to_datetime(datamonth, format="%b-%y")

In [10]:
datamonth

0   2021-02-01
1   2021-03-01
2   2021-04-01
3   2021-05-01
Name: Jan-21, dtype: datetime64[ns]

In [11]:
#menambah bulan januari ke data frame, dikarenakan bulan januari ini terintegrasi kedalam kolom di data raw sehingga tidak terikut saat membuat dataframe ini.
datamonth[4] = pd.datetime(2021,1,1)
datamonth = datamonth.sort_values(ascending=True).reset_index(drop=True)
datamonth

C:\Users\verti\AppData\Local\Temp\ipykernel_26160\1944161847.py:2: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  datamonth[4] = pd.datetime(2021,1,1)

0   2021-01-01
1   2021-02-01
2   2021-03-01
3   2021-04-01
4   2021-05-01
Name: Jan-21, dtype: datetime64[ns]

In [12]:
# mengubah nama kolom menjadi angka hari.
data.columns = np.arange(0,32)
# membuang baris yang berisi bulan karena bulan tersebut sudah kita input kedalam data frame 'datamonth'
data.drop([np.nan], axis=0, inplace=True)

In [13]:
data

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
Unnamed: 1,,,,,,,,,,,,,,,,,,,,,
Team,Team,1,2.0,3.0,4.0,5,6,7,8,9,...,22.0,23.0,24.0,25.0,26,27,28,29,30,31
Patricia,Patricia,H,NaN,NaN,8.0,8,8,8,8,NaN,...,8.0,NaN,NaN,8.0,8,8,8,8,NaN,NaN
John,John,H,NaN,NaN,8.0,8,8,8,8,NaN,...,8.0,NaN,NaN,8.0,8,8,8,8,NaN,NaN
Charles,Charles,H,NaN,NaN,8.0,8,H,H,H,NaN,...,8.0,NaN,NaN,8.0,8,8,8,8,NaN,NaN
Team,Team,1,2.0,3.0,4.0,5,6,7,8,9,...,22.0,23.0,24.0,25.0,26,27,28,NaN,NaN,NaN
Patricia,Patricia,8,8.0,8.0,8.0,8,NaN,NaN,8,8,...,8.0,8.0,8.0,8.0,8,NaN,NaN,NaN,NaN,NaN
John,John,8,8.0,8.0,8.0,8,NaN,NaN,8,8,...,8.0,8.0,8.0,8.0,8,NaN,NaN,NaN,NaN,NaN
Charles,Charles,8,8.0,8.0,8.0,8,NaN,NaN,8,8,...,8.0,8.0,8.0,8.0,8,NaN,NaN,NaN,NaN,NaN
Steven,Steven,8,8.0,8.0,8.0,8,NaN,NaN,8,8,...,8.0,8.0,8.0,8.0,8,NaN,NaN,NaN,NaN,NaN
Team,Team,1,2.0,3.0,4.0,5,6,7,8,9,...,22.0,23.0,24.0,25.0,26,27,28,29,30,31
Patricia,Patricia,8,8.0,8.0,8.0,8,NaN,NaN,8,8,...,8.0,8.0,8.0,8.0,8,NaN,NaN,8,8,8
John,John,8,8.0,8.0,8.0,8,NaN,NaN,8,8,...,8.0,8.0,8.0,8.0,8,NaN,NaN,8,8,8
Charles,Charles,8,8.0,8.0,8.0,8,NaN,NaN,H,H,...,8.0,8.0,8.0,8.0,8,NaN,NaN,8,8,8
Peter,Peter,8,8.0,8.0,8.0,8,NaN,NaN,8,8,...,8.0,8.0,8.0,8.0,8,NaN,NaN,8,8,8
Steven,Steven,8,8.0,8.0,8.0,8,NaN,NaN,8,8,...,8.0,8.0,8.0,8.0,8,NaN,NaN,8,8,8
Team,Team,1,2.0,3.0,4.0,5,6,7,8,9,...,22.0,23.0,24.0,25.0,26,27,28,29,30,NaN
Margaret,Margaret,8,8.0,NaN,NaN,8,8,8,8,8,...,8.0,8.0,NaN,NaN,8,8,8,8,8,NaN
John,John,8,8.0,NaN,NaN,8,8,8,8,8,...,8.0,8.0,NaN,NaN,8,8,8,8,8,NaN
Charles,Charles,8,8.0,NaN,NaN,8,8,8,8,8,...,8.0,8.0,NaN,NaN,8,8,8,8,8,NaN
Peter,Peter,8,8.0,NaN,NaN,8,8,8,8,8,...,8.0,8.0,NaN,NaN,8,8,8,8,8,NaN
Steven,Steven,8,8.0,NaN,NaN,H,8,8,8,8,...,8.0,8.0,NaN,NaN,H,H,H,H,H,NaN
Team,Team,1,2.0,3.0,4.0,5,6,7,8,9,...,22.0,23.0,24.0,25.0,26,27,28,29,30,31
Margaret,Margaret,8,8.0,NaN,NaN,8,8,8,8,8,...,8.0,8.0,NaN,NaN,8,8,8,8,8,8
John,John,8,8.0,NaN,NaN,8,8,8,8,8,...,8.0,8.0,NaN,NaN,8,8,8,8,8,8
Charles,Charles,8,8.0,NaN,NaN,8,8,8,8,8,...,8.0,8.0,NaN,NaN,8,8,8,8,8,8
Peter,Peter,8,8.0,NaN,NaN,8,8,8,8,8,...,8.0,8.0,NaN,NaN,8,8,8,8,8,8
Steven,Steven,8,8.0,NaN,NaN,H,8,8,8,8,...,8.0,8.0,NaN,NaN,H,H,H,H,H,H
Chandeep,Chandeep,8,8.0,NaN,NaN,H,8,8,8,8,...,8.0,8.0,NaN,NaN,H,H,H,H,H,H

In [14]:
#disini dibuat satu function yang menghasilkan integer untuk membedakan antara tanggal hari dengan bulan
a = -1
def indexes(x):
    global a
    if (x.name =="Team"):
        a += 1
        return a
    else:
        return a
data['indexes'] = data.apply(indexes, axis=1)

In [15]:
#mengubah kolom indexes menjadi index
data = data.drop('Team', axis=0).set_index('indexes',drop=True)
data # untuk index 0 artinya bulan januari, untuk index 1 artinya bulan februari , dst.

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
indexes,,,,,,,,,,,,,,,,,,,,,
0,Patricia,H,NaN,NaN,8.0,8,8,8,8,NaN,...,8.0,NaN,NaN,8.0,8,8,8,8,NaN,NaN
0,John,H,NaN,NaN,8.0,8,8,8,8,NaN,...,8.0,NaN,NaN,8.0,8,8,8,8,NaN,NaN
0,Charles,H,NaN,NaN,8.0,8,H,H,H,NaN,...,8.0,NaN,NaN,8.0,8,8,8,8,NaN,NaN
1,Patricia,8,8.0,8.0,8.0,8,NaN,NaN,8,8,...,8.0,8.0,8.0,8.0,8,NaN,NaN,NaN,NaN,NaN
1,John,8,8.0,8.0,8.0,8,NaN,NaN,8,8,...,8.0,8.0,8.0,8.0,8,NaN,NaN,NaN,NaN,NaN
1,Charles,8,8.0,8.0,8.0,8,NaN,NaN,8,8,...,8.0,8.0,8.0,8.0,8,NaN,NaN,NaN,NaN,NaN
1,Steven,8,8.0,8.0,8.0,8,NaN,NaN,8,8,...,8.0,8.0,8.0,8.0,8,NaN,NaN,NaN,NaN,NaN
2,Patricia,8,8.0,8.0,8.0,8,NaN,NaN,8,8,...,8.0,8.0,8.0,8.0,8,NaN,NaN,8,8,8
2,John,8,8.0,8.0,8.0,8,NaN,NaN,8,8,...,8.0,8.0,8.0,8.0,8,NaN,NaN,8,8,8
2,Charles,8,8.0,8.0,8.0,8,NaN,NaN,H,H,...,8.0,8.0,8.0,8.0,8,NaN,NaN,8,8,8
2,Peter,8,8.0,8.0,8.0,8,NaN,NaN,8,8,...,8.0,8.0,8.0,8.0,8,NaN,NaN,8,8,8
2,Steven,8,8.0,8.0,8.0,8,NaN,NaN,8,8,...,8.0,8.0,8.0,8.0,8,NaN,NaN,8,8,8
3,Margaret,8,8.0,NaN,NaN,8,8,8,8,8,...,8.0,8.0,NaN,NaN,8,8,8,8,8,NaN
3,John,8,8.0,NaN,NaN,8,8,8,8,8,...,8.0,8.0,NaN,NaN,8,8,8,8,8,NaN
3,Charles,8,8.0,NaN,NaN,8,8,8,8,8,...,8.0,8.0,NaN,NaN,8,8,8,8,8,NaN
3,Peter,8,8.0,NaN,NaN,8,8,8,8,8,...,8.0,8.0,NaN,NaN,8,8,8,8,8,NaN
3,Steven,8,8.0,NaN,NaN,H,8,8,8,8,...,8.0,8.0,NaN,NaN,H,H,H,H,H,NaN
4,Margaret,8,8.0,NaN,NaN,8,8,8,8,8,...,8.0,8.0,NaN,NaN,8,8,8,8,8,8
4,John,8,8.0,NaN,NaN,8,8,8,8,8,...,8.0,8.0,NaN,NaN,8,8,8,8,8,8
4,Charles,8,8.0,NaN,NaN,8,8,8,8,8,...,8.0,8.0,NaN,NaN,8,8,8,8,8,8
4,Peter,8,8.0,NaN,NaN,8,8,8,8,8,...,8.0,8.0,NaN,NaN,8,8,8,8,8,8
4,Steven,8,8.0,NaN,NaN,H,8,8,8,8,...,8.0,8.0,NaN,NaN,H,H,H,H,H,H
4,Chandeep,8,8.0,NaN,NaN,H,8,8,8,8,...,8.0,8.0,NaN,NaN,H,H,H,H,H,H

In [16]:
#unpivot table.
data = data.melt(id_vars = 0, ignore_index=False)
data

                0 variable value
indexes
0        Patricia        1     H
0            John        1     H
0         Charles        1     H
1        Patricia        1     8
1            John        1     8
...           ...      ...   ...
4            John       31     8
4         Charles       31     8
4           Peter       31     8
4          Steven       31     H
4        Chandeep       31     H

[713 rows x 3 columns]

In [17]:
# mengubah data type int variable menjadi timedelta untuk melakukan perhitungan dengan data frame datamonth. variable disini adalah jumlah hari.
data['variable'] = data.apply(lambda x: pd.to_timedelta(x['variable'], unit='d'), axis = 1)

In [18]:
# assign variable dengan nilai baru dalam bentuk datetime
data['variable'] = datamonth.loc[data.index] + data['variable'] - pd.to_timedelta(1, unit='d')

In [19]:
#ubah nama kolom, sorting value dan set index untuk menghilangkan nan value.
data.columns = ["Nama","Tanggal","Kehadiran"]
data.sort_values("Tanggal", inplace=True)
data.set_index("Kehadiran",drop = False, inplace=True)

In [20]:
#membuang kehadiran yang NaN, value Nan bisa terjadi karena kebetulan di hari itu adalah hari libur atau hari tersebut tidak ada dalam bulan tertentu.
data.drop(np.nan , axis=0, inplace=True)

In [25]:
#hasil akhir
data.reset_index(drop=True,inplace=True)
data

         Nama    Tanggal Kehadiran
0    Patricia 2021-01-01         H
1        John 2021-01-01         H
2     Charles 2021-01-01         H
3    Patricia 2021-01-04       8.0
4     Charles 2021-01-04       8.0
..        ...        ...       ...
501  Margaret 2021-05-31         8
502      John 2021-05-31         8
503   Charles 2021-05-31         8
504     Peter 2021-05-31         8
505  Chandeep 2021-05-31         H

[506 rows x 3 columns]